.content {
  display: flex;
  margin: 30px 24px 30px 24px;

  .left {
    flex: 50%;
    margin-right: 14px;

    input.title {
      background-color: $gray-100;
      font-size: 16px;
      border: 1px solid $gray-300;
      border-radius: $border-radius;
      width: calc(100% - 24px);
      padding: 12px 12px;
      color: $gray-800;
      margin-bottom: 20px;
    }

    input.title::placeholder {
      color: $gray-400;
    }

    .box.general-options {
      margin-bottom: 20px;
      p.description {
        margin-bottom: 20px;
      }

      .input-row {
        display: flex;
        margin: 10px 0;

        input {
          border: 1px solid $gray-300;
          border-radius: $border-radius;
          background-color: $gray-100;
          padding: 8px 8px;
          color: $gray-800;
        }

        input::placeholder {
          color: $gray-400;
        }

        input#firstName,
        input#relationship {
          width: 30%;
          margin-right: 6px;
        }

        input#job,
        input#organisation {
          width: 70%;
          margin-left: 6px;
        }
      }
    }

    .box.generation-settings {
      margin-bottom: 20px;

      h3 {
        font-weight: 500;
        text-align: center;
        margin-bottom: 14px;
      }

      .btn-row {
        display: flex;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;

        .btn {
          padding: 10px 30px;
          font-size: 16px;
          width: 50%;
        }

        .btn#simple {
          margin-right: 5px;
        }

        .btn#custom {
          margin-left: 5px;
        }
      }

      .simple-opts {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 14px auto 0 auto;

        select.reference-type {
          margin-bottom: 14px;
          border: 1px solid $gray-300;
          border-radius: $border-radius;
          background-color: $gray-100;
          padding: 8px 8px;
          color: $gray-800;
        }

        div.btn {
          font-size: 16px;
        }
      }
    }

    .box.custom-prompts {
      display: flex;
      flex-direction: column;
      justify-content: center;

      ul.current-prompts {
        list-style-type: none;
        padding-left: 0;

        li {
          margin-bottom: 20px;

          .title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
          }

          .description {
            margin-bottom: 16px;
          }

          textarea.prompt-params,
          textarea.output {
            background-color: $gray-100;
            width: calc(100% - 24px);
            border: 1px solid $gray-300;
            border-radius: $border-radius;
            resize: vertical;
            color: $gray-600;
            padding: 8px 12px;
            resize: none;
          }

          textarea.prompt-params {
            margin-bottom: 8px;
          }

          p.output-title {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .right {
    flex: 50%;
    margin-left: 14px;

    .action-btns {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .btn {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #save-changes {
        margin-right: 10px;
      }

      #download-pdf {
        margin-left: 10px;
      }
    }

    .preview-pane {
      background-color: $gray-100;
      padding: 25px;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);

      .preview {
        background-color: #fff;
        border: 1px solid $gray-300;
        padding: 25px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);

        h2 {
          font-weight: 500;
          font-size: 18px;
          color: $gray-800;
          text-align: center;
          padding: 160px 0;
        }

        p {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }
}
