@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  text-decoration: none;
}

.content {
  display: flex;
  margin: 30px 24px 30px 24px;
}
.content .left {
  flex: 50%;
  margin-right: 14px;
}
.content .left input.title {
  background-color: #f8fafc;
  font-size: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  width: calc(100% - 24px);
  padding: 12px 12px;
  color: #314047;
  margin-bottom: 20px;
  transition: all 0.25s;
}
.content .left input.title::placeholder {
  color: #cbd5e1;
}
.content .left input.title:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.03);
}
.content .left input.title:focus {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
  border-color: #cbd5e1;
}
.content .left .box.general-options {
  margin-bottom: 20px;
}
.content .left .box.general-options p.description {
  margin-bottom: 20px;
}
.content .left .box.general-options .input-row {
  display: flex;
  margin: 10px 0;
}
.content .left .box.general-options .input-row input {
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  background-color: #f8fafc;
  padding: 8px 8px;
  color: #314047;
  transition: all 0.25s;
}
.content .left .box.general-options .input-row input::placeholder {
  color: #cbd5e1;
}
.content .left .box.general-options .input-row input:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.03);
}
.content .left .box.general-options .input-row input:focus {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
  border-color: #cbd5e1;
}
.content .left .box.general-options .input-row input#firstName,
.content .left .box.general-options .input-row input#relationship {
  width: 30%;
  margin-right: 6px;
}
.content .left .box.general-options .input-row input#job,
.content .left .box.general-options .input-row input#organisation {
  width: 70%;
  margin-left: 6px;
}
.content .left .box.generation-settings {
  margin-bottom: 20px;
}
.content .left .box.generation-settings h3 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 14px;
}
.content .left .box.generation-settings .btn-row {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
}
.content .left .box.generation-settings .btn-row .btn {
  padding: 10px 30px;
  font-size: 16px;
  width: 50%;
}
.content .left .box.generation-settings .btn-row .btn#simple {
  margin-right: 5px;
}
.content .left .box.generation-settings .btn-row .btn#custom {
  margin-left: 5px;
}
.content .left .box.generation-settings .simple-opts {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14px auto 0 auto;
}
.content .left .box.generation-settings .simple-opts select.reference-type {
  margin-bottom: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  background-color: #f8fafc;
  padding: 8px 8px;
  color: #314047;
}
.content .left .box.generation-settings .simple-opts div.btn {
  font-size: 16px;
}
.content .right {
  flex: 50%;
  margin-left: 14px;
}
.content .right .action-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content .right .action-btns .btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .right .action-btns #save-changes {
  margin-right: 10px;
}
.content .right .action-btns #download-pdf {
  margin-left: 10px;
}
.content .right .preview-pane {
  background-color: #f8fafc;
  padding: 25px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
}
.content .right .preview-pane .preview {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  padding: 25px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
}
.content .right .preview-pane .preview h2 {
  font-weight: 500;
  font-size: 18px;
  color: #314047;
  text-align: center;
  padding: 160px 0;
}
.content .right .preview-pane .preview p {
  margin-bottom: 14px;
  font-size: 16px;
}
.content .right .preview-pane .preview p.placeholder {
  color: #cbd5e1;
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
  .content .left,
.content .right {
    margin: 0;
  }
  .content .right {
    margin-top: 20px;
  }
}
header {
  background-color: #fff;
  width: 100%;
  color: #314047;
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  align-items: center;
}
header .branding {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
header .branding img.logo {
  width: 30px;
  height: auto;
}
header .branding h1.title {
  font-size: 26px;
  font-weight: 600;
  margin-left: 10px;
}
header .nav-action {
  display: flex;
}
header .nav-action ul {
  display: flex;
  list-style-type: none;
}
header .nav-action ul li {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
header .nav-action ul li .more-arrow {
  margin: 4px 0 0 6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #314047;
}
header .nav-action ul li .more-menu {
  display: none;
  position: absolute;
  background-color: #f8fafc;
  width: 150px;
  top: 34px;
  left: -52px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
}
header .nav-action ul li .more-menu .menu-item {
  z-index: 2;
  padding: 12px 30px;
  border: 1px solid #e2e8f0;
  border-width: 0 0 1px 0;
  text-align: center;
  transition: background-color 0.2s;
}
header .nav-action ul li .more-menu .menu-item#last-child {
  border-width: 0;
}
header .nav-action ul li .more-menu .menu-item:hover {
  cursor: pointer;
  background-color: #f1f5f9;
}
header .nav-action ul li:hover {
  cursor: pointer;
}
header .nav-action ul li#more {
  position: relative;
}
header .nav-action ul li#more:hover .more-menu {
  display: block;
}
header .nav-action .theme-toggle {
  margin: 0 24px 0 16px;
  display: flex;
  align-items: center;
}
header .nav-action .theme-toggle img.toggle-opt {
  height: 20px;
  width: auto;
}
header .nav-action .theme-toggle img.toggle-opt#dark {
  height: 18px;
}
header .nav-action .theme-toggle .switch {
  width: 44px;
  height: 24px;
  margin: 0 6px;
  position: relative;
  display: inline-block;
}
header .nav-action .theme-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .nav-action .theme-toggle .switch .slider {
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cbd5e1;
  transition: 0.4s;
}
header .nav-action .theme-toggle .switch .slider:before {
  position: absolute;
  border-radius: 100%;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #64748b;
  transition: 0.4s;
}
header .nav-action .theme-toggle .switch input:checked + .slider {
  background-color: #475569;
}
header .nav-action .theme-toggle .switch input:checked + .slider:before {
  background-color: #cbd5e1;
}
header .nav-action .theme-toggle .switch input:checked + .slider:before {
  transform: translateX(20px);
}

.add-block {
  position: relative;
  align-self: center;
}
.add-block .btn.add-block-btn {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  font-size: 16px;
  align-self: center;
}
.add-block .btn.add-block-btn img {
  width: 22px;
  height: auto;
  margin-right: 6px;
}
.add-block .popup {
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
  position: absolute;
  left: 144px;
  top: -35px;
  overflow-y: visible;
  border-radius: 6px;
  color: #314047;
}
.add-block .popup #arrow {
  position: absolute;
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  border-width: 0 0 1px 1px;
  width: 12px;
  height: 12px;
  top: 49px;
  left: -7px;
  transform: rotate(45deg);
  z-index: 1;
}
.add-block .popup #close-btn {
  position: absolute;
  border: 1px solid #e2e8f0;
  background-color: #f8fafc;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 260px;
  top: 43px;
  font-weight: 500;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
  color: #64748b;
  transition: all 0.1s;
}
.add-block .popup #close-btn:hover {
  border-width: 2px;
  top: 42px;
  left: 259px;
  border-color: #64748b;
  background-color: #f1f5f9;
  cursor: pointer;
}
.add-block .popup ul {
  list-style-type: none;
  padding-left: 0;
  width: 250px;
  height: 110px;
  overflow-y: auto;
}
.add-block .popup ul li {
  padding: 8px 20px;
}
.add-block .popup ul li:hover {
  cursor: pointer;
  background-color: #f1f5f9;
}
.add-block .popup ul::-webkit-scrollbar {
  width: 14px;
}
.add-block .popup ul::-webkit-scrollbar-track {
  background: #e2e8f0;
}
.add-block .popup ul::-webkit-scrollbar-thumb {
  background: #64748b;
}
.add-block .popup ul::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.box.prompts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box.prompts ul.current-prompts {
  list-style-type: none;
  padding-left: 0;
}
.box.prompts ul.current-prompts li {
  margin-bottom: 20px;
}
.box.prompts ul.current-prompts li .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.box.prompts ul.current-prompts li .description {
  margin-bottom: 16px;
}
.box.prompts ul.current-prompts li textarea.prompt-params,
.box.prompts ul.current-prompts li textarea.output {
  background-color: #f8fafc;
  width: calc(100% - 24px);
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  resize: vertical;
  color: #475569;
  padding: 8px 12px;
  resize: none;
}
.box.prompts ul.current-prompts li textarea.prompt-params {
  margin-bottom: 8px;
}
.box.prompts ul.current-prompts li textarea::placeholder {
  color: #cbd5e1;
}
.box.prompts ul.current-prompts li .auto-output,
.box.prompts ul.current-prompts li .custom-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.box.prompts ul.current-prompts li .auto-output .btns,
.box.prompts ul.current-prompts li .custom-output .btns {
  display: flex;
  margin-left: 10px;
}
.box.prompts ul.current-prompts li .auto-output .btns div,
.box.prompts ul.current-prompts li .custom-output .btns div {
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  transition: all 0.25s;
  text-align: center;
}
.box.prompts ul.current-prompts li .auto-output .btns .generate-btn,
.box.prompts ul.current-prompts li .custom-output .btns .generate-btn {
  color: #4338ca;
  border-color: #4338ca;
  margin-right: 8px;
}
.box.prompts ul.current-prompts li .auto-output .btns .undo-btn,
.box.prompts ul.current-prompts li .custom-output .btns .undo-btn {
  color: #818cf8;
  border-color: #818cf8;
}
.box.prompts ul.current-prompts li .auto-output .btns div:hover,
.box.prompts ul.current-prompts li .custom-output .btns div:hover {
  cursor: pointer;
}
.box.prompts ul.current-prompts li .auto-output .btns .generate-btn:hover,
.box.prompts ul.current-prompts li .custom-output .btns .generate-btn:hover {
  background-color: #4338ca;
  color: #f8fafc;
}
.box.prompts ul.current-prompts li .auto-output .btns .undo-btn:hover,
.box.prompts ul.current-prompts li .custom-output .btns .undo-btn:hover {
  background-color: #e2e8f0;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f0fe;
}

.btn {
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 6px;
  font-weight: 300;
  text-align: center;
  transition: background-color 0.2s;
}

.btn:hover {
  cursor: pointer;
}

.btn.primary {
  background-color: #818cf8;
  color: #f8fafc;
}

.btn.primary:hover {
  background-color: #766df4;
}

.btn.primary.selected {
  background-color: #4338ca;
}

.box {
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  color: #314047;
  font-size: 16px;
  padding: 24px;
}

/*# sourceMappingURL=global.css.map */
